---
import BaseLayout from "../components/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout pageTitle="About">
  <Navigation />
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1>About me</h1>
    <p>Hello</p>
  </div>
</BaseLayout>
