---
import BaseLayout from "../components/BaseLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<BaseLayout pageTitle="Folio">
  <Navigation />
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <h1>Home</h1>
  </div>
</BaseLayout>
