---
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme !== "light" &&
        (localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches))
      ) {
        console.log("dark", window.matchMedia("(prefers-color-scheme: dark)"));
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      document
        .getElementById("theme-selector")
        ?.addEventListener("click", () => {
          if (localStorage.theme === "dark") {
            localStorage.theme = "light";
            document.documentElement.classList.remove("dark");
          } else {
            localStorage.theme = "dark";
            document.documentElement.classList.add("dark");
          }
        });
      // TODO: Whenever the user explicitly chooses to respect the OS preference
      //localStorage.removeItem("theme");
    </script>
  </head>
  <body class="min-h-screen dark:bg-slate-600">
    <slot />
  </body>
</html>
