{{- define "main" -}}

{{ $title := .Title }}
{{ $username := index .Params.authors 0 }}
{{ $avatar_image := .Params.avatar_image }}
{{ $name := .Params.name }}
{{ $role := .Params.role }}
{{ $display_organizations := .Params.display_organizations }}
{{ $organizations := .Params.organizations }}
{{ $social := .Params.social }}

<section id="profile-page" class="pt-5">
  <div class="container">

    <!-- About widget -->

    <div class="row">
      <div class="col-lg-5">
        <div id="profile">

          <img class="img-fluid" src="{{ printf "img/%s" $avatar_image | relURL }}" itemprop="image" alt="Avatar">

        </div>

        <ul class="network-icon bg-white mx-2 py-2 text-center" aria-hidden="true">
          {{ range $social }}
          {{ $pack := or .icon_pack "fas" }}
          {{ $pack_prefix := $pack }}
          {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
          {{ end }}
          {{ $link := .link }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <li class="mx-3">
            <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
              <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>

      </div>

      <div class="col-lg-7" itemprop="description">

        <div class="portrait-title">
          <h2 itemprop="name">{{ $name }}</h2>
          {{ with $role }}<h3 class="d-inline-block" itemprop="jobTitle">{{ . | markdownify | emojify }}</h3>{{ end }}

          {{ if $display_organizations }}
            {{ range $organizations }}
            <h3 class="d-inline-block" itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
              at {{ with .url }}<a href="{{ . }}" target="_blank" itemprop="url" rel="noopener">{{ end }}
                <span itemprop="name">{{ .name }}</span>
                {{ if .url }}</a>{{ end }}
            </h3>
            {{ end }}
          {{ end }}
        </div>

        <link itemprop="url" href="{{ .Permalink }}">

        {{ .Content }}

      </div>

    </div>

  </div>
</section>

{{- end -}}
